.game {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 240px 60px;
  gap: 30px 0px;
  grid-template-areas:
    "stats"
    "field"
    "results";
}

@media only screen and (max-width: 600px) {
  .game {
    width: 100%;
    grid-template-rows: 40px 375px 40px; 
    gap: 10px 0px; 
  }
}

.counter {
  color: #FFFFFF;
}

.stats { 
  grid-area: stats;
  display: flex;
  justify-content: center;
  gap: 21px;
}

@media only screen and (max-width: 600px) {
  .stats { 
    gap: 7px;
  }
}

.stats .counter:first-child {
  background-color: #F24E1E;
}

.stats .counter:first-child:hover {
  background-color: #ED4919;
}

.stats .counter:nth-child(2) {
  background-color: #3498DB;
}

.stats .counter:nth-child(2):hover {
  background-color: #2F93D6;
}

.stats .counter:last-child {
  background-color: #FBCE19;
}

.stats .counter:last-child:hover {
  background-color: #F6C914;
}

.field { 
  grid-area: field;
}

@media only screen and (max-width: 600px) {
  .field {
    width: 100%;
    border-radius: 0;
  }
}

.results { 
  grid-area: results;
  display: flex;
  justify-content: center;
  gap: 21px;
}

@media only screen and (max-width: 600px) {
  .results { 
    gap: 7px;
  }
}

.results .counter:first-child {
  background-color: #2ECC71;
}

.results .counter:first-child:hover {
  background-color: #29C76C;
}

.results .counter:last-child {
  background-color: #596EED;
}

.results .counter:last-child:hover {
  background-color: #5469E8;
}
